/* Toasts */

#toasts {
  margin-left: auto;
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 100%;
  padding-left: 0.5rem;
}
.toast {
  margin: 0 0.5rem 0.5rem auto;
  height: fit-content;
  min-height: 3rem;
  width: fit-content;
  max-width: 100%;
  background-color: var(--dark1);
  border-radius: 3rem;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.toast:not(:has(p + button)) {
  padding-right: 1rem;
}
.toast button {
  color: var(--light0);
  background-color: var(--dark2);
  transition: background-color 200ms;
  line-height: 1em;
  height: 2.2rem;
  padding: 0.5rem 0.75rem 0.4rem 0.75rem;
  border-radius: 3rem;
}
.toast button:hover,
.toast button:focus-visible {
  background-color: var(--dark3);
}
.toast .close {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.1rem 0 0 0;
  aspect-ratio: 1 / 1;
}
.toast p {
  margin: 0;
}
@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(120%);
    -ms-transform: translateX(120%);
    transform: translateX(120%);
  }

  to {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes slidein {
  from {
    -webkit-transform: translateX(120%);
    -ms-transform: translateX(120%);
    transform: translateX(120%);
  }

  to {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.toast.animatein {
  -webkit-animation: slidein 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: slidein 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@-webkit-keyframes slideout {
  from {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  to {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
  }
}
@keyframes slideout {
  from {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  to {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
  }
}
.toast.animateout {
  -webkit-animation: slideout 500ms forwards;
  animation: slideout 500ms forwards;
}
