body {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
body > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

/* Inputs */

/*General*/

input, button {
  border: none;
}
.largeInputBox{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.smallInputBox{
  display: flex;
  gap: 0.3rem;
}
.inputBox:not(.checkbox) {
  justify-content: space-between;
}
input.disabled, label.disabled {
  cursor: default;
}

/*Button*/

button, a.button {
  background-color: var(--dark1);
  color: var(--light0);
  transition: background-color 200ms;
}
button.small, a.button.small {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
}
button.medium, a.button.medium {
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.45rem 0.75rem;
  border-radius: 1.5rem;
}
button.large, a.button.large {
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
}
button:hover, button:focus-visible, a.button:hover, a.button:focus-visible {
  background-color: var(--dark2);
}
a.button {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/*Text, number, and textarea*/

input[type=text], input[type=number], textarea {
  background-color: var(--dark1);
  color: var(--light0);
}
input[type=text].disabled, input[type=number].disabled, textarea.disabled {
  background-color: var(--light2);
  color: var(--dark2);
}
input::placeholder {
  color: var(--light2);
}
input[type=text], input[type=number], textarea {
  border: none;
  transition: background-color 200ms;
}
input[type=text].small, input[type=number].small, textarea {
  margin: 0.1rem 0;
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
}
input[type=text].medium, input[type=number].medium {
  line-height: 1rem;
  padding: 0.45rem 0.75rem;
  border-radius: 1.5rem;
}
input[type=text].large, input[type=number].large {
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
}
input[type=text]:hover, input[type=text]:focus-visible,
input[type=number]:hover, input[type=number]:focus-visible,
textarea:hover, textarea:focus-visible {
  background-color: var(--dark2);
}

/*File*/

input[type=file]::file-selector-button {
  border: none;
  border-radius: 0.25rem;
  background-color: var(--dark1);
  color: var(--light0);
  cursor: pointer;
}
input[type=file]::file-selector-button:hover, input[type=file]:focus-visible::file-selector-button {
  background-color: var(--dark2);
}
input[type=file]::file-selector-button {
  line-height: 1rem;
  padding: 0.2rem 0.5rem;
}
